In [2]:
# Libraries 
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# 1. Leer los datos 
df = pd.read_csv("taxi_zone_lookup.csv")
df.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [6]:
# 2. Crear el esquema 
ddl = pd.io.sql.get_schema(df, 'data')
ddl

'CREATE TABLE "data" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [11]:
# 3. Cliente para acceder a la bd 
db = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")
db.connect()

In [12]:
# 4. Cargar los datos: 
df.to_sql(
    name='zones',
    con=db, 
    if_exists='append'
)

265